.g-only-main-desktop{
    display: none !important;
}
@media screen and (min-width: 960px) {
    .g-only-main-desktop {
        display: block !important;
    }
}

.g-only-main-desktop.g-only-tablet {
    display: none !important;
}
@media screen and (min-width: 760px) {
    .g-only-main-desktop.g-only-tablet {
        display: block !important;
    }
}

.g-only-main-desktop.g-only-phone {
    display: block !important;
}

@media screen and (min-width: 760px) and (max-width: 960px)  {
    .g-only-main-desktop.g-only-phone {
        display: none !important;
    }
}

.g-only-phone.g-only-tablet  {
    display: none !important;
}

@media screen and (max-width: 960px)  {
    .g-only-phone.g-only-tablet {
        display: block !important;
    }
}
